{%extends "layoutAdmin.html"%}
{%block content%}
<div class="content">

    <div class="row">
        <div class="col-md 12">
            <div class="card">
                <form action="{{url_for("updateUser")}}" method="post">

                    <div class="card-header">
                        <h4>EDICIÓN DE USUARIO:</h4>
                    </div>
                    <div class="card-body">
                        <div hidden>
                            <label for="">id</label>
                            <input type="text" name="id" value="{{usuario[0]}}">
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="">Nombre:</label>
                                <input class="form-control" name="name" type="text" value="{{usuario[1]}}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            
                            <div class="col-md-6">
                                <label for="">Usuario:</label>
                                <input type="text" class="form-control" name="username" value="{{usuario[2]}}">
                            </div>
                            <div class="col-md-6">
                                <label for="">Correo:</label>
                                <input type="email" class="form-control" name="email" value="{{usuario[4]}}">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-4">
                                <label for="">Telefono:</label>
                                <input type="text" class="form-control" name="phone" value="{{usuario[5]}}">
                            </div>
                            <div class="col-md-4">
                                <label for="">Rol:</label>
                                <select name="role" id="" class="select form-control">
                                    <option value="USUARIO">Usuario</option>
                                    <option value="ADMINISTRADOR">Administrador</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="">Area:</label>
                                <input type="text" name="area" class="form-control" value="{{usuario[7]}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="form-control btn btn-sm btn-primary">ACTUALIZAR usuario</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}